{% assign adult_number = 1 %}
                
{% for adult in household.active_adults %}
  {% unless adult.id == household.primary_contact.id %}
    {% assign remainder = adult_number | modulo: 3 %} {% comment %} By adding modulo: 3 we are saying that we want to add clear:both to every 3rd person in our loop {% endcomment %}
    <div class="entry" {% if remainder == 0 %}style="clear:both;"{% endif %}>
      <img class="avatar" src="{{ adult.photo_url}}">
      <ul>
        <li class="name">                  
          {{ adult.first_name }}
          {% if adult.last_name != household.primary_contact.last_name %}{{ adult.last_name }}{% endif %}
        </li>
        <li>{{ adult.primary_phone_number }}</li>
        <li class="email">{{ adult.primary_email }}</li>
        <li>
            {% if adult.birthdate.date|strip|size != 0 %}
            {{ adult.birthdate | date: "%B %d" | prepend: "Birthday: " }}
          {% endif %}
        </li>
      </ul>
    </div> 
    {% assign adult_number = adult_number | plus: 1 %}
   {% endunless %}   
{% endfor %}