<html>
  <head>
    <title>Attendance Roster</title>
    {{ helpers.bootstrap_3 }}
    <style>
      @page { margin: 0.50in; size: US-Letter; }
      body { font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; }
    	
    </style>
  </head>
  <body>
    <!--- Hedgehogs Blue -->
    	<div id="group" style="page-break-after: always;">
        <div class="container">
       <div class="pull-right">
        <div class="well well-sm text-right">
          Roster Printed:  {{ list.updated_at | date: "%B %e, %Y"  }}<br>
          <strong>Class Date: _____ / _____ / _____</strong>
        </div>
      </div>
      <table cellpadding="0">
        
        <tr>
        <td><img src="{{ organization.logo_url }}" width="100"> </td>
         <td style="padding: 25px;"> 
          <h2>
        MountainTop Kids - Hedgehogs Blue
           <br>
        <small>
          {{ organization.name }}
            </small></h2>
          </td></tr>
   </table>
          
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th style="height:50px; vertical-align:bottom;" width="50">Attendance</th>
          <th style="height:50px; vertical-align:bottom;" width="250">Name</th>
          <th style="vertical-align:bottom;" width="300">Status</th>
          <th style="vertical-align:bottom;" width="100">Phone</th>
          <th style="vertical-align:bottom;" width="125">Notes</th>
          <th style="vertical-align:bottom;" width="125">Group</th>
        </tr>
      </thead>

      <tbody>
        {% for person in people %}
        	{% if person.ministry_nextgen.sunday.sunday_roster.value == "Hedgehogs BLUE" %}
          <tr>
            <td style="height:50px; vertical-align:bottom;" width="50"></td>
            <td  style="height:50px; vertical-align:bottom;" width="250">{{ person.name }}</td>
            <td style="vertical-align:bottom;" width="300">{{ person.membership }}</td>
            <td style="vertical-align:bottom;" width="100"> {{ person.primary_contacts.first.primary_phone_number }} </td>
            <td  style="vertical-align:bottom;" width="200"></td>
            <td  style="vertical-align:bottom;" width="200">{{ person.ministry_nextgen.sunday.sunday_roster.value }}</td>
          </tr>
        	{% endif %}
        {% endfor %}
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        
      </tbody>
          </table></div>
    </div>
    <!-- Hedgehogs Green -->
    	<div id="group" style="page-break-after: always;">
        <div class="container">
       <div class="pull-right">
        <div class="well well-sm text-right">
          Roster Printed:  {{ list.updated_at | date: "%B %e, %Y"  }}<br>
          <strong>Class Date: _____ / _____ / _____</strong>
        </div>
      </div>
      <table cellpadding="0">
        
        <tr>
        <td><img src="{{ organization.logo_url }}" width="100"> </td>
         <td style="padding: 25px;"> 
          <h2>
        MountainTop Kids - Hedgehogs Green
           <br>
        <small>
          {{ organization.name }}
            </small></h2>
          </td></tr>
   </table>
          
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th style="height:50px; vertical-align:bottom;" width="50">Attendance</th>
          <th style="height:50px; vertical-align:bottom;" width="250">Name</th>
          <th style="vertical-align:bottom;" width="300">Status</th>
          <th style="vertical-align:bottom;" width="100">Phone</th>
          <th style="vertical-align:bottom;" width="125">Notes</th>
          <th style="vertical-align:bottom;" width="125">Group</th>
        </tr>
      </thead>

      <tbody>
        {% for person in people %}
        	{% if person.ministry_nextgen.sunday.sunday_roster.value == "Hedgehogs GREEN" %}
          <tr>
            <td style="height:50px; vertical-align:bottom;" width="50"></td>
            <td  style="height:50px; vertical-align:bottom;" width="250">{{ person.name }}</td>
            <td style="vertical-align:bottom;" width="300">{{ person.membership }}</td>
            <td style="vertical-align:bottom;" width="100"> {{ person.primary_contacts.first.primary_phone_number }} </td>
            <td  style="vertical-align:bottom;" width="200"></td>
            <td  style="vertical-align:bottom;" width="200">{{ person.ministry_nextgen.sunday.sunday_roster.value }}</td>
          </tr>
        	{% endif %}
        {% endfor %}
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        
      </tbody>
          </table></div>
    </div>
    <!-- Hedgehogs Red -->
    <div id="group" style="page-break-after: always;">
        <div class="container">
       <div class="pull-right">
        <div class="well well-sm text-right">
          Roster Printed:  {{ list.updated_at | date: "%B %e, %Y"  }}<br>
          <strong>Class Date: _____ / _____ / _____</strong>
        </div>
      </div>
      <table cellpadding="0">
        
        <tr>
        <td><img src="{{ organization.logo_url }}" width="100"> </td>
         <td style="padding: 25px;"> 
          <h2>
        MountainTop Kids - Hedgehogs Red
           <br>
        <small>
          {{ organization.name }}
            </small></h2>
          </td></tr>
   </table>
          
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th style="height:50px; vertical-align:bottom;" width="50">Attendance</th>
          <th style="height:50px; vertical-align:bottom;" width="250">Name</th>
          <th style="vertical-align:bottom;" width="300">Status</th>
          <th style="vertical-align:bottom;" width="100">Phone</th>
          <th style="vertical-align:bottom;" width="125">Notes</th>
          <th style="vertical-align:bottom;" width="125">Group</th>
        </tr>
      </thead>

      <tbody>
        {% for person in people %}
        	{% if person.ministry_nextgen.sunday.sunday_roster.value == "Hedgehogs RED" %}
          <tr>
            <td style="height:50px; vertical-align:bottom;" width="50"></td>
            <td  style="height:50px; vertical-align:bottom;" width="250">{{ person.name }}</td>
            <td style="vertical-align:bottom;" width="300">{{ person.membership }}</td>
            <td style="vertical-align:bottom;" width="100"> {{ person.primary_contacts.first.primary_phone_number }} </td>
            <td  style="vertical-align:bottom;" width="200"></td>
            <td  style="vertical-align:bottom;" width="200">{{ person.ministry_nextgen.sunday.sunday_roster.value }}</td>
          </tr>
        	{% endif %}
        {% endfor %}
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        
      </tbody>
          </table></div>
    </div>
    <!-- Hedgehogs Yellow -->
    <div id="group" style="page-break-after: always;">
        <div class="container">
       <div class="pull-right">
        <div class="well well-sm text-right">
          Roster Printed:  {{ list.updated_at | date: "%B %e, %Y"  }}<br>
          <strong>Class Date: _____ / _____ / _____</strong>
        </div>
      </div>
      <table cellpadding="0">
        
        <tr>
        <td><img src="{{ organization.logo_url }}" width="100"> </td>
         <td style="padding: 25px;"> 
          <h2>
        MountainTop Kids - Hedgehogs Yellow
           <br>
        <small>
          {{ organization.name }}
            </small></h2>
          </td></tr>
   </table>
          
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th style="height:50px; vertical-align:bottom;" width="50">Attendance</th>
          <th style="height:50px; vertical-align:bottom;" width="250">Name</th>
          <th style="vertical-align:bottom;" width="300">Status</th>
          <th style="vertical-align:bottom;" width="100">Phone</th>
          <th style="vertical-align:bottom;" width="125">Notes</th>
          <th style="vertical-align:bottom;" width="125">Group</th>
        </tr>
      </thead>

      <tbody>
        {% for person in people %}
        	{% if person.ministry_nextgen.sunday.sunday_roster.value == "Hedgehogs Yellow" %}
          <tr>
            <td style="height:50px; vertical-align:bottom;" width="50"></td>
            <td  style="height:50px; vertical-align:bottom;" width="250">{{ person.name }}</td>
            <td style="vertical-align:bottom;" width="300">{{ person.membership }}</td>
            <td style="vertical-align:bottom;" width="100"> {{ person.primary_contacts.first.primary_phone_number }} </td>
            <td  style="vertical-align:bottom;" width="200"></td>
            <td  style="vertical-align:bottom;" width="200">{{ person.ministry_nextgen.sunday.sunday_roster.value }}</td>
          </tr>
        	{% endif %}
        {% endfor %}
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        
      </tbody>
          </table></div>
    </div>
    <!-- Hedgehogs Guest -->
    <div id="group" style="page-break-after: always;">
        <div class="container">
       <div class="pull-right">
        <div class="well well-sm text-right">
          Roster Printed:  {{ list.updated_at | date: "%B %e, %Y"  }}<br>
          <strong>Class Date: _____ / _____ / _____</strong>
        </div>
      </div>
      <table cellpadding="0">
        
        <tr>
        <td><img src="{{ organization.logo_url }}" width="100"> </td>
         <td style="padding: 25px;"> 
          <h2>
        MountainTop Kids - Hedgehogs Guest
           <br>
        <small>
          {{ organization.name }}
            </small></h2>
          </td></tr>
   </table>
          
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th style="height:50px; vertical-align:bottom;" width="50">Attendance</th>
          <th style="height:50px; vertical-align:bottom;" width="250">Name</th>
          <th style="vertical-align:bottom;" width="300">Status</th>
          <th style="vertical-align:bottom;" width="100">Phone</th>
          <th style="vertical-align:bottom;" width="125">Notes</th>
          <th style="vertical-align:bottom;" width="125">Group</th>
        </tr>
      </thead>

      <tbody>
        {% for person in people %}
        	{% if person.ministry_nextgen.sunday.sunday_roster.value == "Hedgehogs GUEST" %}
          <tr>
            <td style="height:50px; vertical-align:bottom;" width="50"></td>
            <td  style="height:50px; vertical-align:bottom;" width="250">{{ person.name }}</td>
            <td style="vertical-align:bottom;" width="300">{{ person.membership }}</td>
            <td style="vertical-align:bottom;" width="100"> {{ person.primary_contacts.first.primary_phone_number }} </td>
            <td  style="vertical-align:bottom;" width="200"></td>
            <td  style="vertical-align:bottom;" width="200">{{ person.ministry_nextgen.sunday.sunday_roster.value }}</td>
          </tr>
        	{% endif %}
        {% endfor %}
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        <tr><td  style="height:50px;"></td><td style="vertical-align:bottom;"></td><td style="vertical-align:bottom;"></td><td></td><td></td><td style="vertical-align:bottom;"></td></tr>
        
      </tbody>
          </table></div>
    </div>
     {{ helpers.bootstrap_3 }}
  </body>
</html>