<!-- Set to "true" if you want each day on it's own page -->
{% assign day_page_break = false %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic {{ report.kind | capitalize }} Report by Date</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ report.stylesheet_href }}">
    <link href='/favicon.ico?v=1106' rel='icon' type='image/x-icon'>
    <meta charset="utf-8">
    <style>
      li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    {% comment %} Get the first day in the report {% endcomment %}
    {% assign report_day = days.first.date | date: '%A'%}

    {% if report.org_twenty_four_hour_time? %}
      {% assign time_format = "%H:%M" %}
    {% else %}
      {% assign time_format = "%-I:%M%P" %}
    {% endif %}

    {% if report.org_day_month_dates? %}
      {% assign date_format = "%d/%m/%Y" %}
    {% else %}
      {% assign date_format = "%m/%d/%Y" %}
    {% endif %}

    {% for day in days_with_instances %}
      {% assign today = day.date | date: '%A' %}
      {% if today == report_day %}
        {% if forloop.first or day_page_break %}
          <div>
            <h1 class="header-large txt-center gutter-bottom-small">Basic {{ report.kind | capitalize }} Report by Date - {{ report_day }}</h1>
            <h2 class="header-medium txt-center soft gutter-bottom-large">{{ report.scope }}: {{ report.start_date }} through {{ report.end_date }}</h2>
          </div>
        {% endif %}
        <div class="table-container{% if day_page_break and forloop.index < forloop.length  %} page-break{% endif %}">
          <div class="gutter-bottom-large">
            <h3 class="header-medium">{{ day.date | date: '%A, %B %-d, %Y'}}</h3>
            <table>
              <thead>
                <tr>
                  <th width="30%">Event Name</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th width="25%">Location</th>
                  <th width="25%">Room(s)</th>
                  <th width="20%">Event Owner</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in day.instances | sort: "starts_at" %}
                  <tr>
                    <td>
                      <div>
                        <div>
                          <span class="status {{ instance.approval_status_class }}">
                            {{ instance.approval_status | replace: "Approved", "A" | replace: "Pending Conflicts", "PC"| replace: "Pending", "P" | replace: "Rejected", "R" }}
                          </span>
                        </div>
                        <div class="status-text {{ instance.approval_status_class }}">{{ instance.event.name }}</div>
                      </div>
                    </td>
                    {% capture start_date %} {{ instance.starts_at | date: "%m/%d/%Y" }} {% endcapture %} {% capture end_date %} {{ instance.ends_at | date: "%m/%d/%Y" }} {% endcapture %} {% capture today %} {{ day.date | date: "%m/%d/%Y" }} {% endcapture %}
                    <td>
                      {% if start_date == today and start_date != end_date %}
                        Today, {{ instance.starts_at | date: time_format }}
                      {% elsif start_date == end_date %}
                        {{ instance.starts_at | date: time_format | downcase }}
                      {% else %}
                        {{instance.starts_at | date: date_format }} ({{ instance.starts_at | date: time_format | downcase }})
                      {% endif %}
                    </td>
                    <td>
                      {% if end_date == today and start_date != end_date %}
                        Today, {{ instance.ends_at | date: time_format }}
                      {% elsif start_date == end_date %}
                        {{ instance.ends_at | date: time_format | downcase }}
                      {% else %}
                        {{instance.ends_at | date: date_format }} ({{ instance.ends_at | date: time_format | downcase }})
                      {% endif %}
                    </td>
                    <td>{{ instance.reservation.location }}</td>
                    <td>
                      {% for room_request in instance.reservation.room_requests %}
                        <li {% if forloop.last == false %}style="padding-bottom: 5px;"{% endif %}>
                          - {{ room_request.room.name }}
                          {% if room_request.room_setup %}
                            <span style="color: grey;">( {{ room_request.room_setup.name }} )</span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </td>
                    <td>{{ instance.event.owner.name }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
      {% endif %}
    {% else %}
      <div>
        <h1 class="header-large txt-center gutter-bottom-small">Basic {{ report.kind | capitalize }} Report by Date</h1>
        <h2 class="header-medium txt-center soft gutter-bottom-large">{{ report.scope }}: {{ report.start_date }} through {{ report.end_date }}</h2>
        <h1 class="header-large txt-center gutter-bottom-small">There are no events which fit the filters in the selected date range.</h1>
      </div>
    {% endfor %}
  </body>
</html>
