<!DOCTYPE html>	
<html>	
  <head>	
    <title>{{ report.title }}</title>	
    <link rel="stylesheet" type="text/css" media="all" href="{{ report.stylesheet_href }}">	
    <link href='/favicon.ico?v=1106' rel='icon' type='image/x-icon'>	
  </head>	
  <body>	
    <div class="report-wrapper">	
      <h1 class="header-large txt-center gutter-bottom-small">{{ report.title }}</h1>	
      <h2 class="header-medium txt-center soft gutter-bottom-large">{{ report.scope }}: {{ report.start_date }} through {{ report.end_date }}</h2>	

      {% if report.org_twenty_four_hour_time? %}	
        {% assign date_format = "%A, %B %-d, %H:%M" %}	
        {% assign time_format = "%H:%M" %}	
      {% else %}	
        {% assign date_format = "%A, %B %-d, %-I:%M%P" %}	
        {% assign time_format = "%-I:%M%P" %}	
      {% endif%}	

      <div class="report_list">	
        <div class="level-1">	
          {% for event in events %}	
            <div class="bg-soft gutter-bottom-medium">	
              <span class="header-large">{{event.name}}</span>	
              <span class="status {{ event.approval_status }}">{{ event.approval_status }}</span>	
            </div>	
            <ul>	
              {% for instance in event.instances %}	
                <li class="gutter-bottom-large item level-2 block">	
                  <h3 class="header-large item-title gutter-bottom-small">	
                    {{ instance.starts_at | date: date_format | capitalize }} - {{ instance.ends_at | date: date_format | capitalize }}	
                  </h3>	

                  <!-- ===== ROOMS ========================== -->	
                  {% if instance.reservation.room_requests.size > 0 %}	
                    <div class="level-3">	
                      <h3 class="bg-soft header-medium gutter-bottom-small">Rooms</h3>	
                      <ul>	
                        {% for request in instance.reservation.simple_room_requests %}	
                          <li class="gutter-bottom-small pad-left item item--inline">	
                            <div class="gutter-bottom-small">	
                              <span class="header-small txt-underline item-title">{{request.room.name}}</span>&nbsp;	
                              <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>	
                            </div>	
                          </li>	
                        {% endfor %}	

                        {% for request in instance.reservation.complex_room_requests %}	
                          <li class="gutter-bottom-medium pad-left item">	
                            <div class="gutter-bottom-small">	
                              <span class="header-small txt-underline item-title">{{request.room.name}}</span>	
                              <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>	
                            </div>	

                            {% if request.resource_requests.size > 0 %}	
                              <div class="level-3">	
                                <h4 class="bg-soft header-small gutter-bottom-small">Resources for this room</h4>	
                                <div class="level-4">	
                                  <ul>	
                                    {% for resource_request in request.simple_resource_requests %}	
                                      <li class="sub-item sub-item--inline gutter-bottom-small">	
                                        <h4 class="header-small">	
                                          <span class="txt-underline sub-item-title">	
                                            {{resource_request.resource.name}}	
                                          </span>	
                                          <span class="status {{ resource_request.approval_status }}">{{ resource_request.approval_status }}</span>	
                                        </h4>	
                                      </li>	
                                    {% endfor %}	

                                    {% for resource_request in request.complex_resource_requests %}	
                                      <li class="sub-item">	
                                        <h4 class="header-small">	
                                          <span class="txt-underline sub-item-title">	
                                            {{resource_request.resource.name}}	
                                          </span>	
                                          <span class="status {{ resource_request.approval_status }}">{{ resource_request.approval_status }}</span>	
                                        </h4>	
                                      </li>	
                                    {% endfor %}	
                                  </ul>	
                                </div>	
                              </div>	
                            {% endif %}	
                          </li>	
                        {% endfor %}	
                      </ul>	
                    </div>	
                  {% endif %}	
                  <!-- @end Rooms ========================== -->	

                  <!-- ===== RESOURCES ========================== -->	
                  {% if instance.reservation.resource_requests.size > 0 %}	
                    <div class="level-3">	
                      <h4 class="bg-soft header-medium gutter-bottom-small">Resources</h4>	
                      <ul>	
                        {% for request in instance.reservation.simple_resource_requests %}	
                          <li class="gutter-bottom-medium pad-left item item--inline">	
                            <span class="header-small txt-underline">{{request.room.name}}</span>	
                            <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>	
                          </li>	
                        {% endfor %}	

                        {% for request in instance.reservation.complex_resource_requests %}	
                          <li class="gutter-bottom-medium pad-left item">	
                            <span class="header-small txt-underline">{{request.room.name}}</span>	
                            <span class="status {{ request.approval_status }}">{{ request.approval_status }}</span>	
                          </li>	
                        {% endfor %}	
                      </ul>	
                    </div>	
                  {% endif %}	
                  <!-- @end Resources ========================== -->	

                </li>	
              {% endfor %}	
            </ul>	
          {% else %}	
            <div>	
              <h1 class="header-large txt-center gutter-bottom-small">There are no events which fit the filters in the selected date range.</h1>	
            </div>	
          {% endfor %}	
        </div>	
      </div>	
    </body>	
  </html>